@font-face {
  font-family: "OpenSans Regular";
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf");
  font-weight: 300;
}
body {
  font-family: "OpenSans Light";
  font-size: 20px;
}